* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans", sans-serif;
  }

  .body {
    text-align: center;
  }

  h1 {
    text-align: center;
    padding-top: 150px;
    font-weight: bold !;
    font-size: 40px;
    font-weight: bolder;
  }

  p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  #button {
  text-align: center;
  }
  
  button {
    text-align: center;
    background-color: #ae83c7;
    border-color: #ae83c7;
    color: white;
    font-size: 22px;
    padding: 0px 12px 0px 12px;
  }

  .btn:hover {
    text-align: center;
    background-color: #ae83c7;
    border-color: #ae83c7;
    color: white;
    font-size: 22px;
    padding: 0px 12px 0px 12px;
  }

  #tryAgain {
    display: inline-block;
    vertical-align: top;
  }

  #clearScores{
    display: inline-block;
    vertical-align: top;
  }
  
  #score {
    color:#ae83c7; 
    padding-left: 20px;
  }
  
  #timer {
    float: right;
    padding-right: 30px; 
  }

  .quiz-page {
    align-items: center;
    text-align: center; 
  }
  
  #quizHeader {
    font-size: 25px;
    font-weight: bolder; 
    padding-top: 100px;
    padding-left: 15%; 
    padding-bottom: 15px; 
  }

  li {
    list-style-type: none;
    padding-left: 15%; 
   }
  
  .question-button {
    text-align: center;
    background-color: #ae83c7;
    border-color: #ae83c7;
    color: white;
    font-size: 22px;
    padding: 0px 12px 0px 12px;
    margin: 5px; 
  }
  
  #answer {
     font-style: italic;
     color: #7c7c7c;
     font-size: 30px;
     padding-left: 15%;  
  }
  
  #finalScorePage {
    padding-left: 15%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#highScores {
    text-align: left;
    padding-top: 150px;
    font-weight: bolder; 
    padding-top: none; 
}

#highScoresList {
    background-color: #bfb2c5;
    font-size: 20px;
    padding-right: 75%;
}

#highScoreButtons {
    margin-left: 15%; 
    margin-right: 15%;
}

.row {
    align-items: center;
    text-align: center; 
    padding-left: 15%;
    padding-right: 15%;
}

#finished {
    font-weight: bolder;
    padding-top: 100px;
    padding-left: 15%;
}