*{
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #000000;
  --secondary:#6a22c9;
  --tertiary: #8b33ff;
  --light: #ffff; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  font-size:1em;
  margin:0;
}

.view-high-scores {
  padding: 1px 5px 6%;
}

.timer {
  padding: 1px 5px 6%;
}

button {
  text-align: center;
  background: var(--secondary);
  color: var(--light);
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button:hover {
  text-align: center;
  background: var(--tertiary);
  border-radius: 10px;
  cursor: pointer;
}
