*{
  box-sizing: border-box;
}

:root {
  --primary: ;
  --secondary: ;
  --tertiary: ; 
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  font-size:1em;
  margin:0;
}

.high-scores {
  padding: 1px 5px 6%;
}

.timer {
  padding: 1px 5px 6%;
}